<div class="container-fluid" ng-include="'./partials/menu.html'"> </div>

<h1 class="text-center">
	Empresa
</h1>

<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>

<form ng-submit="salva()">
	<div class="form-group">
		<label for="nome">
			Nome:
		</label>
		<input type="text" class="form-control" id="nome" name="nome" required ng-model="dado.nome">
	</div>
	
	<div>
		<button type="submit" class="btn btn-primary">
			Salvar
		</button>
		<a href="#/empresas" class="btn btn-primary">
			Voltar
		</a>
	</div>

</form>
